.card{
    margin-left: 600px;
}

.text{
    font-size: 200px;
}

.butt{
    
margin-right: 20px;
}


.collapsible .content {
    padding: 1px;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: #dddddd;
    padding: 1px;
    cursor: pointer;
}